<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


@model CartViewModel

@{
        ViewData["Title"] = "Cart Overview";
}

@if (Model.CartItems.Count > 0)
{
        <table class="table">
                <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th></th>
                        <th>Price</th>
                        <th>Total</th>
                </tr>
                @foreach (var item in Model.CartItems)
                {
                        <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>
                                        <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@item.ProductId">+</a>
                                        <a class="btn btn-info btn-sm" asp-action="Decrease" asp-route-id="@item.ProductId">-</a>
                                        <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@item.ProductId">Remove</a>
                                </td>
                                <td>@item.Price.ToString("C2")</td>
                                <td>@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("C2")</td>
                        </tr>
                }
                <tr>
                        <td class="text-right" colspan="4">Grand Total: @Model.GrandTotal.ToString("C2")</td>
                </tr>
                <tr>
                        <td class="text-right" colspan="4">
                                <a class="btn btn-danger" asp-action="Clear">Clear Cart</a>
                                <a class="btn btn-primary" id="checkoutButton" href="#">Checkout</a>
                        </td>
                </tr>
        </table>


}
else
{
        <h3 class="display-4 text-center">Your cart is empty.</h3>
}

<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="addressForm">
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" name="address" required>
                    </div>
                </form>
                <form id="addressForm2">
                    <div class="form-group">
                        <label for="address2">Telephone:</label>
                        <input type="text" class="form-control" id="address2" name="address2" required>
                    </div>
                </form>
                <form id="addressForm3">
                    <div class="form-group">
                        <label for="address3">Name:</label>
                        <input type="text" class="form-control" id="address3" name="address3" required>
                    </div>
                </form>
                <form id="paymentMethodForm">
                    <div class="form-group">
                        <label for="paymentMethod">Payment Method:</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="paymentMethod" id="handpay" value="handpay" checked>
                            <label class="form-check-label" for="handpay">Handpay</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="paymentMethod" id="onlinePayment" value="onlinePayment">
                            <label class="form-check-label" for="onlinePayment">Online Payment</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" asp-action="Clear">Checkout</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#checkoutButton').click(function () {
            $('#checkoutModal').modal('show');
        });

        $('#submitAddress').click(function () {
            $('#addressForm').submit();
        });
    });
</script>

